@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --font-martian-mono: "martianMono", "martianMono Fallback";
}

body {
  @apply bg-black text-white;
  font-family: var(--font-martian-mono);
}

h1 {
  @apply mt-4 mb-3 text-4xl font-bold;
}

h2 {
  @apply mt-3 mb-2 text-3xl font-bold;
}

h3 {
  @apply mt-2 mb-1.5 text-2xl font-bold;
}

h4 {
  @apply mt-1.5 mb-1 text-xl font-semibold;
}

h5 {
  @apply mt-1 mb-0.75 text-lg font-semibold;
}

h6 {
  @apply mt-0.75 mb-0.5 text-base font-semibold;
}

p {
  @apply mt-0.5 mb-0.25;
}
