@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  :root {
    --font-martian-mono: "martianMono", "martianMono Fallback";
  }

  body {
    @apply bg-zinc-950 text-zinc-50;
    font-family: var(--font-martian-mono);
  }

  h1 {
    @apply mt-8 mb-6 text-4xl font-bold;
  }

  h2 {
    @apply mt-6 mb-4 text-3xl font-bold;
  }

  h3 {
    @apply mt-5 mb-3 text-2xl font-bold;
  }

  h4 {
    @apply mt-4 mb-2 text-xl font-bold;
  }

  h5 {
    @apply mt-3 mb-2 text-lg font-bold;
  }

  h6 {
    @apply mt-3 mb-2 text-base font-bold;
  }

  .h-container h1:first-child,
  .h-container h2:first-child,
  .h-container h3:first-child,
  .h-container h4:first-child,
  .h-container h5:first-child,
  .h-container h6:first-child {
    margin-top: 0;
  }

  p {
    @apply mt-3 mb-2 text-base leading-7;
  }

  .text-code {
    @apply text-sm text-zinc-200;
  }

  code {
    @apply mt-3 mb-2 rounded border border-zinc-700 bg-zinc-800 p-1 text-sm text-zinc-200;
  }

  a {
    @apply text-amber-600 transition-colors hover:text-amber-500 hover:underline;
  }
}
